/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* Applique la police 'Open Sans' à tous les éléments de la page */
* {
  font-family: 'Open Sans', sans-serif;
}

/* Définition d'un fond personnalisé */
.fond-custom {
  background: #5372F0 !important;
}

/* Style au survol du bouton avec fond personnalisé */
button.fond-custom:hover {
  background: #4366ef !important;
}

/* Style pour les images dans la section 'meteo-actuelle' */
.meteo-actuelle img {
  max-width: 120px;
  margin-top: -15px;
}
